<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		Lighthouse Publishers
	</title>
	<style>
		body{
			background-repeat: no-repeat;
			background-size: cover;

		}
	</style>
</head>
<body background="static/images/lighthouse.jpg" link="#000" alink="#017bf5" vlink="#000">
	<br />
	<h3 align="center">
		<font face="Lato" size="6"></font>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font face="cinzel" size="4">
			
		</font>
	</h3>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<h1 align="center">
		<font face="serif" color="#000000" size="7">
			LIGHTHOUSE PUBLISHERS
		</font>
	</h1>
	<h3 align="center">
		<font face="Lato" color="#000" size="5">
			HELLO BIBLIOPHILE, WHAT'S UP.........
		</font>
	</h3>
	<br />
	<h3 align="center">
	<a href="/home">
		<font face="Lato" color="#000">ENTER THE WORLD OF BOOKS</font>
	</a>&nbsp;&nbsp;&nbsp;&nbsp;
	
	</h3>
</body>
</html>